# =============================================================================
# OUTPUT
# =============================================================================

/[Oo]utput/*
!/[Oo]utput/.gitkeep
/__pycache__/*